{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">The Know-How Swap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/profiles">Find a Swap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Message Board</a>
      </li>
      </ul>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/sign-in">Log In <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign-out">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign-up">Make An Account</a>
          </li>
        </ul>
    </div>
  </nav>

{{#if showButtons}}
  <div id="home-page">
    <div class="container">
      <div class="text-center">
        <h1>The Know-How Swap</h1>
          <h2>Teach an old skill. Learn a new skill. Connect.</h2>
            <a style="width: fit-content; margin: 2% auto;" href="/sign-in" class="btn btn-primary btn-lg">Log in</a>
            <a style="width: fit-content; margin: 2% auto;" href="/sign-up" class="btn btn-primary btn-lg">Make an account</a>
      </div>
    </div>
  </div>
{{/if}}

<div class="profile-container">
  {{> allProfiles }}
</div>
  {{!-- <h2>Welcome!</h2>

  <p>
    You're logged in as <a href="mailto:{{user.email}}">{{user.email}}</a></span>.
  </p>

  <form class="form-signout" action="/sign-out" method="POST">
    <button class="btn btn-large btn-danger" type="submit">Logout</button>
  </form> --}}
  </div>
</div>
