<div class="container">
  <form class="form-signup" action="/sign-up" method="POST">
    <h2 class="form-signup-heading">Sign Up</h2>

    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email address">
    </div>

    <div class="form-group">
      <input type="username" name="username" class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group skills"> What skills can you teach? e.g., "spanish, skateboarding, baking"
      <input type="existing_skills" name="existing_skills" class="form-control" placeholder="Existing Skills">
    </div>

    <div class="form-group skills"> What skills do you want to learn? e.g., "rock climbing, french, calligraphy"
      <input type="desired_skills" name="desired_skills" class="form-control" placeholder="Desired Skills">
    </div>

    <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
  </form>
</div>
