<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Know-How Swap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
  </head>
  <style>
    body {
      background-image: url('public/images/background.jpg');
      background-repeat: no-repeat;
      background-size: 1536px 1025px;
    }

    .btn {
      background-color: white;
      color: black;
    }

    .btn-primary:hover {
      background-color: rgb(175, 70, 70);
    }

    h1 {
      font-size: 110px;
    }


    h1, h2 {
      margin-top: 50px;
      color: white;
      text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
  </style>
  <body>
        <div id="home-page">
          <div class="container">
            <div class="text-center">
              <h1>The Know-How Swap</h1>
              <h2>Teach an old skill. Learn a new skill. Connect.</h2>
              <a style="width: fit-content; margin: 2% auto;" href="/sign-in" class="btn btn-primary btn-lg">Log in</a>
              <a style="width: fit-content; margin: 2% auto;" href="/sign-up" class="btn btn-primary btn-lg">Make an account</a>
            </div>
          </div>
        </div>
  </body>
</html>
