body {
  background-image: url('/images/background.jpg');
  background-repeat: repeat;
  background-size: 1536px 1025px;
}

.btn {
  background-color: white;
  color: black;
}

.btn-primary:hover {
  background-color: rgb(179, 47, 47);
}

h1 {
  font-size: 110px;
}


h1, h2 {
  margin-top: 50px;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.profile-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  padding: 2%;
  width: 80%;
  margin: 2% auto;
}

.card {
  margin-top: 10px;
}

.skills {
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
