body {
  background-image: url('public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 1536px 1025px;
}

.btn {
  background-color: white;
  color: black;
}

.btn-primary:hover {
  background-color: rgb(179, 47, 47);
}

h1 {
  font-size: 110px;
}


h1, h2 {
  margin-top: 50px;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
